:root {
    --input-border-color: #ced4da;
}

html {
    font-size: 62.5%;
}
body {  
    background: #f5f5f5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;    
}

/* --- Login page---- */

.login-container {
    display: grid;
    grid-template-columns: 45vw 55vw;
    grid-template-rows: repeat(1, 100vh);
    height: 100vh;    
    overflow: hidden;
  }

.login-container__picture img {
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: all 0.3s;
    width: 100%;
}

.login-container__picture img:hover {
    opacity: 0.9;    
}

.login-container__logo{
    height: 200px;
    margin: auto;    
    width: 300px;
}

.login-container__logo img {
    height: 100%;
    object-fit: scale-down;
    width: 100%;
}

.login-container__data {
    align-self: center;
    justify-self: center;
    max-width: 40rem;
    width: 60%;
}

.login-container__text {
    color: #334357;
    text-align: center;
}

.login-container__form {
    border: 1px solid var(--input-border-color);
    outline: 0;
    transition: border .15s, box-shadow .5s;
}
    
.login-container__form:focus{
    box-shadow: 0 0 0 4px #b7c8d2 ;
}

.login-container__form, .btn {
    border-radius: 5px;
    /* The default box-sizing for input fields is content-box. So, any padding we apply to an input 
    field, increases its width. To ensure that input fields and buttons have the same width, we need
    to set box-sizing to border-box. */
    box-sizing: border-box;
    padding: 1.5rem;
    /* It's a common technique to set the width of input fields and buttons to 100% so they fill up
    their container. We can then control their size through their container (in this case form-signin) */
    width: 100%;
}

.btn{
    background: #4d759e;
    border-radius: 25px;
    border: 0;
    color: #fff;
    cursor: pointer;
    outline: 0;
}

.btn:hover{
    background: #41688f;
}

.form-group{
    /* We use this class to add vertical space between different input fields. */
    margin: 1.5rem 0;
}

.muted {
    color: #6c757d;
  }

.animation-cp{
    animation: bounceIn;
    animation-duration: 3s; 
    text-align: center;
  }
   
  